$categories: (
 hached: color($colors, primary),
 gremda: #AC282B,
 sakietezzit: #8E8D93,
 elafrane: #FE4C52,
 saltnia: #FD8B2D,
 sidimansour: #FED035,
 sakieteddayer: #69BB7B, 
 elbusten: #3BC7C4,
 kaidmhammad: #B16BE3,
 taniour: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.schedule-page {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
